<section>
  <h2>Crie sua própria sala</h2>
  <form action="/createPass" method="POST">
    <label for="creatPass" class="sr-only">Insira uma senha</label>
    <input
      type="password"
      name="password"
      id="creatPass"
      placeholder="Insira uma senha"
    />
    <button>
      <img src="./images/users-white.svg" alt="Criar sala" />Criar Sala
    </button>
  </form>
</section>
